/* General */
body {
  margin: 0; padding: 0;
  font-family: 'Istok Web', sans-serif;
  background-color: rgb(219,219,219);
}

/* Login Page */
#login_messages {
  position: fixed;
  top: 0; width: 100%;
  margin: 0;   padding: 20px 0 20px 0;
  text-align: center;
  background-color: rgb(136, 201, 222);
  border-bottom: 1px solid rgb(43, 75, 105);
  border-radius: 0 0 8px 8px;
}

#login_form {
  padding: 20px;
  margin: 0 auto;
  margin-top: 300px;
  width: 400px;
  border: 2px solid rgb(136, 201, 222);
  border-radius: 6px;
}

#login_form input[type=text], #login_form input[type=password] {
  float: right;
}

#login_form input[type=submit] {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

/* Stats */
#stats_content {
  background-color: red;
}

.stat_group {
  margin-top: 20px;
  background-color: #fff;
  width: 33.33%;
  height: 490px;
  float: left;
}

.stat_group h2 {
  margin-left: 20px;
  color: rgb(87, 156, 213);
}

.stat_group p {
  margin-left: 20px;
  margin-right: 20px;
}

.stat_group .value {
  color: rgb(236, 138, 37);
  float: right;
}

/* Admin Panel */
#panel_header {
  margin: 0; padding: 10px 0 10px 0;
  width: 100%; height: 35px;
  z-index: 1000;
  background-color: rgb(136, 201, 222);
  border-bottom: 1px solid rgb(43, 75, 105);
}

#panel_header h1 {
  display: inline-block;
  float: left;
  padding: 0; margin: 0 0 0 15px;
  text-align: center;
  font-size: 24px;
  vertical-align: middle;
}

#panel_header a {
  margin: 0 15px 0 0;
  display: inline-block;
  float: right;
  text-decoration: none;
  color: rgb(63, 104, 142);
  font-size: 20px;
  padding: 0 5px 0 5px;
  margin-top: 5px;
}

#panel_content {
  z-index: -10;
  position: absolute;
  width: 100%; height: 100%;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgb(219,219,219);
}

#utilities {
  margin-top: 55px;
  padding: 10px 0 40px 0;
  background-color: rgb(105, 105, 105);
}

#utilities input {
  float: left;
  margin-left: 15px;
  padding-left: 5px;
}

#utilities a {
  cursor: pointer;
  float: right;
  margin: 5px 15px 0 0;
  font-size: 17px;
  text-decoration: none;
  color: rgb(150, 203, 83);
}

#new_product {
  display: none;
  position: relative;
}

#new_product a#cancel {
  cursor: pointer;
  color: rgb(217, 75, 30);
}

.product:first-child {
  margin-top: 0px;
}

.product {
  position: relative;
  font-size: 18px;
  width: 100%;
  margin: 30px 0 30px 0;
  border-collapse:separate;
}

.product th {
  width: 7%;
  color: rgb(121, 121, 121);
  background-color: rgb(151,168,189);
  border: 1px solid rgb(85, 85, 85);
}

.product th.id {
  width: 26px;
}

.product th.save, .product th.del {
  width: 30px;
}

.product td {
  position: relative;
  border: 1px solid rgb(85, 85, 85);
  margin: 0; padding: 0;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.product td input {
  padding-left: 2%;
  border: none;
  width: 97%; height: 90%;
  position: absolute;
  bottom: 1px;
  left: 0;
}

.product td input:focus {
  color: rgb(43,122,147);
}

.product td img {
  margin-top: 8px;
  width: 60px; height: 60px;
}

.product tr td a.floppy {
  cursor: pointer;
  color: rgb(150, 203, 83);
}

.product tr td a.trash {
  cursor: pointer;
  color: rgb(217, 75, 30);
}

.product input[type="file"] {
  display: none;
}

.product .image-upload {
  display: block;
  color: rgb(111, 111, 111);
  cursor: pointer;
}

.break {
  border-width: 3px;
}
