@media only screen and (max-width: 959px) {
    header {
      position: relative;
      width: 100%; height: 120px;
      border-radius: 0px;
      margin: 0; padding: 0;
    }

    header h1 {
      margin: 0; padding: 10px 0 0 8px;
      font-size: 22px;
      display: block;
      float: left;
    }

    header p#user_login {
      clear: both;
      width: 140px;
      float: none;
      display: block;
      margin: 0 auto;
      padding-top: 20px;
    }

    header #user_login a {
      margin: 0 0 0 4px;
      font-family: 'Cutive Mono';
      font-size: 12px;
    }

    header #menu_arrow {
      margin: 5px 2px 0 0;
      display: block;
      float: right;
    }

    header #logged_in_user {
      margin: 0 auto;
    }

    .unrotated {
      transform: rotate(0deg);
      transition: all .3s;
    }

    .rotated {
      padding: 20px 2px 0 0;
      display: block;
      float: right;
      transform: rotate(180deg);
      transform-origin: center;
    }

    #menu {
      position: relative;
      z-index: 1000;
      width: 100%; height: 755px;
      margin: 0; padding: 0;
    }

    #menu #search_bar {
      margin-top: 10px;
    }

    #wrapper {
      width: 100%;
      height: 100%;
      margin: 0; padding: 0;
    }

    #content {
      background-color: #fff;
      width: 100%;
      height: 100%;
      margin: 0; padding: 0;
    }

    #content img {
      height: 55%;
      width: 55%;
      margin: 0 auto; padding: 60px 0 20px 0;
    }

    #content #base_hex {
      display: none;
    }

    #content #about {
      display: block;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 15px;
      width: 90%;
    }

    /* PRODUCTS */
    #shop_items {
      width: 100%;
      height: auto;
      overflow: hidden;
    }

    .product {
      margin: 20px 0 0 0; padding: 0;
      width: 100%;
    }

    .product img {
      margin: 0; padding: 0;
      float: left;
    }

    .product_info {
      width: 180px;
      float: left;
      margin: 10px 0 0 10px; padding: 0;
      font-size: 11px;
    }

    .addtocart {
      width: 180px;
      float: right;
      font-size: 10px;
      margin: 10px 10px 0 0; padding: 0;
    }

    .price {
      float: left;
      margin: 3px 0 0 0; padding: 0;
      font-size: 13px;
    }

    .add_button {
      float: right;
      font-size: 10px;
    }

    #pages_nav {
      width: 100%;
    }

    /* Detail View / Item Page */
    #item_content {
      width: 100%;
    }

    #item_content .cover {
      margin: 0; padding: 0;
      width: 100%;
      height: auto;
    }

    #item_content #item_info {
      width: 100%;
      display: block;
      margin: 0 auto;
      border: 1px solid #8e8e8e;
    }

    #item_content #item_info th {
      width: 120px;
      border: 1px solid #8e8e8e;
    }

    #item_content #item_info td {
      border: 1px solid #8e8e8e;
    }

    #item_content #add_item_wrapper {
      width: 100%;
      border-radius: 0px;
    }


    /* Sign Up Page */
    #wrapper #content h1#sign_up_now {
      font-family: 'Cousine', monospace;
      font-size: 22px;
      font-weight: 700;
      color: #ccc;
      width: 95%;
      padding: 20px 0px 20px 0px;
      margin: 0 auto;
      margin-top: 20px; margin-bottom: 20px;
      border: 1px solid #eee;
      border-radius: 8px;
      text-align: center;
    }

    #wrapper #content #sign_up_form {
      width: 99.9%;
      margin: 0 auto; padding: 5px 0 15px 0;
      border-radius: 0px;
    }

    #wrapper #content #sign_up_form label {
      margin: 0 0 0 20px; padding: 0;
      font-family: 'Cousine', monospace;
      color: #ccc;
      font-weight: 400;
      font-size: 18px;
      float: left;
    }

    #wrapper #content #sign_up_form input {
      margin: 0 20px 0 0; padding: 0;
      display: block;
      width: 150px;
      height: 20px;
    }

    #wrapper #content #sign_up_form select {
      margin: 0 20px 0 0; padding: 0;
      width: 150px;
      height: 20px;
    }

    #wrapper #content #sign_up_form #buttons {
      margin: 0;
      padding: 20px 0px 0px 20px;
      width: 240px;
      position: relative;
      clear: both;
      float: none;
      display: block;
      margin: 0 auto;
    }

    #wrapper #content #sign_up_form #buttons input {
      padding: 7px 6px 20px 6px;
      color: #cfeedb;
      border: 2px solid #cfeedb;
      border-radius: 8px;
      background-color: transparent;
      clear: both;
      float: none;
      display: inline-block;
      position: relative;
      width: 95px;
      font-weight: 700;
    }

    /* Form Submitted Page */
    #wrapper #content #submitted_info {
      width: 100%;
      padding-top:30px; margin: 0;
      height: 400px;
    }

    #wrapper #content #submitted_info h1 {
      width: 100%;
    }

    #wrapper #content #submitted_info p {
      width: 100%;
      font-size: 9px;
      color: #0099FF;
    }

    footer {
      z-index: 1;
      position: sticky;
      bottom: 0;
      height: 40px;
      font-size: 12px;
      width: 100%;
      margin: 0; padding: 0;
    }

    footer p {
      margin: 0; padding: 24px 0 0 0;
    }

    /* Login Page */
    #login_messages {
      width: 100%;
      margin: 0; padding: 0;
      border-radius: 0px;
    }

    #form_wrapper {
      margin: 0; padding: 60px 0 0 0;
      width: 100%;
      height: 220px;
      border-radius: 0px;
    }

    #login_form {
      padding: 0; margin: 0;
      width: 100%;
    }
}
