/* LOAD CUSTOM FONTS */
@font-face {
  font-family: Voyager-Grotesque;
  src: url("../voyager-grotesque/regular.ttf");
}

@font-face {
  font-family: Voyager-Grotesque-Bold;
  src: url("../voyager-grotesque/bold.ttf");
}

/* GENERAL STYLES */
html {
  position: relative;
  margin:0; padding: 0;
}

body {
  margin: 0; padding: 0;
  height: 100%;
  background: linear-gradient(#d7d7d7, #606060) fixed;
  background-repeat: no-repeat;
}

header {
  position: relative;
  margin: 0 auto; padding: 0;
  width: 960px;
  height: 80px;
  background-color: #161616;
  color: #cfeedb;
  border-radius: 0 0 5px 5px;
}

header h1 {
  float: left;
  font-family: Voyager-Grotesque-Bold;
  font-style: italic;
  margin: 0;
  padding: 23px 0 0 35px;
}

header h1 a {
  color: #cfeedb;
  text-decoration: none;
}

header #user_login {
  float: right;
  margin: 30px 20px 0 0;
}

header #user_login a {
  padding: 4px 6px 4px 6px;
  margin-right: 10px;
  text-decoration: none;
  border: 2px solid #cfeedb;
  background-color: #111;
  border-radius: 8px;
  color: #cfeedb;
  font-size: 18px;
  font-family: 'Cousine';
  font-weight: bold;
}

header #logged_in_user {
  padding-right: 35px;
  float: right;
  color: #d2d2d2;
}

header #logged_in_user a {
  color: #66FF99;
}

header #menu_arrow {
  display: none;
}

/* MENU STYLES */
#menu {
  float: left;
  margin: 0; padding: 0;
  background-color: #e9e9e9;
  width: 300px;
  height: 1000px;
}

#menu #search_bar {
  width: 80%;
  height: 35px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

#menu #search_bar #sbar {
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 0 5px; margin: 0;
  width: 150px;
  height: 35px;
  background-color: #3e3e3e;
  color: #fefefe;
  border: none;
}

#menu #search_bar #sbutton {
  display: inline-block;
  vertical-align: top;
  float: right;
  padding: 0; margin: 0;
  font-family: 'Cousine';
  font-weight: bold;
  width: 75px;
  height: 35px;
  background-color: #3e3e3e;
  color: #fefefe;
  border: 2px solid #3e3e3e;
  border-radius: 4px;
}

#menu ul {
  clear: both;
  margin: 0; padding: 0;
}

#menu ul li {
  list-style-type: none;
  margin: 0; padding-top: 30px;
}

#menu ul li a {
  margin: 0 auto; padding-top: 12px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #3e3e3e;
  font-family: 'Cousine';
  font-weight: bold;
  font-size: 16px;
  color: #fefefe;
  width: 80%;
  height: 28px;
  border-radius: 4px;
}

a.current_page {
  color: #66ff99 !important;
  border: 1px solid #66ff99;
}

#pages_nav {
  margin-top: 5px;
  width: 660px;
  float: right;
  text-align: center;
}

#pages_nav a {
  color: #333;
}

#wrapper {
  margin: 0 auto;
  padding-top: 1px;
  background-color: #dddddd;
  width: 960px;
  height: 820px;
}

/* FOOTER */
footer {
  clear: both;
  margin: 0 auto;
  bottom: 0px;
  width: 960px;
  height: 70px;
  background-color: #363636;
  color: #cecece;
}

footer p {
  font-family: 'Cousine';
  font-weight: 400;
  padding: 50px 5px 0 0;
  margin: 0;
  text-align: right;
}

/* HOME */
#content {
  float: right;
  width: 660px;
}

#content img {
  width: 380px; height: 380px;
  display: block;
  margin: 0 auto;
  padding-top: 70px;
}

#base_hex {
  padding-top: 60px;
  text-align: center;
  font-family: Voyager-Grotesque-Bold;
  font-size: 20px;
  color: #e8e8e8;
  text-stroke-width: 1px;
  text-stroke-color: black;
}

#about {
  letter-spacing: .5px;
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  padding-top: 8px;
  width: 400px;
  margin: 0 auto;
  font-family: 'Cousine';
}

/* PRODUCTS */
#shop_items {

  width: 660px;
  height: 1000px;
  float: right;
  overflow-y: auto;
}

#shop_items #result_text {
  padding-top: 50px;
  text-align: center;
}

.product {
  position: relative;
  background-color: #ffffff;
  height: 120px; width: 600px;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 3px;
}

.product img {
  width: 120px; height: 120px;
  float: left;
}

.product_info {
  font-family: 'Cousine', monospace;
  font-weight: 400;
  font-size: 15px;
  position: relative;
  float: left;
  margin: 14px 0 0 20px;
}

.addtocart {
  position: absolute;
  right: 15px;
  width: auto; height: 120px;
}

#qty {
  height: 26px;
  vertical-align: middle;
}

.price {
  text-align: right;
  font-size: 18px;
  color: #546659;
  font-weight: bold;
  font-family: 'Cousine', monospace;
  letter-spacing: 1.2px;
  margin-bottom: 40px;
}

.add_button {
  vertical-align: middle;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #ececec;
  padding: 5px 8px 5px 8px;
  border: 0px;
  border-radius: 4px;
  font-family: 'Cousine', monospace;
  font-weight: 400;
  background: linear-gradient(#d7d7d7, #606060);
}

#error_msg {
  margin-top: 50px;
  text-align: center;
}

/* Sign Up Page */
#wrapper {
  height: 1000px;
}

#wrapper #content h1#sign_up_now {
  font-family: 'Cousine', monospace;
  font-size: 22px;
  font-weight: 700;
  color: #ccc;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin: 10px 0 20px 0;
  border: 1px solid #eee;
  border-radius: 8px;
  text-align: center;
}

#wrapper #content #sign_up_form {
  background-color: #222121;
  border-radius: 8px;
  width: 550px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

#wrapper #content #sign_up_form label {
  font-family: 'Cousine', monospace;
  color: #ccc;
  font-weight: 400;
  float: left;
}

#wrapper #content #sign_up_form input {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: 'Cousine', monospace;
  font-weight: 400;
  float: right;
  width: 230px;
  height: 25px;
}

#wrapper #content #sign_up_form input:focus {
  -moz-box-shadow: 0 0 2px 2px #66FF99;
  -webkit-box-shadow: 0 0 2px 2px #66FF99;
  box-shadow: 0 0 2px 2px #66FF99;
  border: 1px solid #66FF99;
}

#wrapper #content #sign_up_form select {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: 'Cousine', monospace;
  font-weight: 400;
  float: right;
  width: 230px;
  height: 25px;
}

#wrapper #content #sign_up_form #buttons {
  padding-top: 8px;
  width: 240px;
  position: relative;
  clear: both;
  float: none;
  display: block;
  margin: 0 auto;
}

#wrapper #content #sign_up_form #buttons input {
  color: #cfeedb;
  border: 2px solid #cfeedb;
  border-radius: 8px;
  background-color: transparent;
  clear: both;
  float: none;
  display: inline-block;
  position: relative;
  width: 110px;
  height: 30px;
  font-weight: 700;
}

/* Item Page */
#item_content {
  text-align: center;
  font-size: 17px;
  float: right;
  width: 660px;
  font-family: 'Cousine', monospace;
  font-weight: 400;
}

#item_content .cover {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
  height: 500px;
}

#item_content #item_info {
  padding: 10px 0 10px 0;
  text-align: left;
  display: block;
  margin: 0 auto;
  width: 500px;
  background-color: #e9e9e9;
}

#item_content #item_info th {
  padding-left: 30px;
  font-weight: 700;
  width: 170px;
}

#item_content #item_info #item_price {
  font-size: 18px;
  color: #d95a5a;
  font-weight: 700;
}

#item_content #add_item_wrapper {
  padding: 12px 0;
  margin: 0 auto;
  width: 500px;
  background-color: #e9e9e9;
  border-radius: 0 0 10px 10px
}

#item_content #add_item {
  vertical-align: middle;
  width: 140px;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  padding: 8px 10px;
  background-color: #3c3c3c;
  border: 1px solid #3c3c3c;
  border-radius: 4px;
  font-family: 'Cousine', monospace;
  font-size: 16px;
  font-weight: 700;
  color: #d0d0d0;
}

#item_content #detail_qty {
  vertical-align: middle;
  height: 38px;
}

/*label.required:before {
  content: '*';
  color: #791313;
}*/

.error {
    font-family: 'Cousine', monospace;
    font-weight: 400;
    font-size: 14px;
    display: block;
    color: #bb2c2c;
    text-align: right;
}

/* Form Submitted Page */
#wrapper #content #submitted_info {
  width: 390px;
  margin: 0 auto;
  margin-top: 100px;
}

#wrapper #content #submitted_info h1 {
  text-align: center;
  font-family: 'Cousine', monospace;
  font-weight: 700;
  font-size: 20px;
}

#wrapper #content #submitted_info p {
  font-family: 'Cousine', monospace;
  font-weight: 400;
  font-size: 16px;
}

#wrapper #content #submitted_info p .post {
  font-weight: 700;
  color: #313947;
}

/* Log In Page */
#form_wrapper {
  position: relative;
  color: #cccccc;
  background-color: #222121;
  border-radius: 8px;
  width: 550px;
  margin: 0 auto;
  padding: 30px 20px 80px 20px;
  margin-top: 180px;
  font-family: 'Cousine', monospace;
  font-weight: 700;
  font-size: 18px;
}

#login_messages {
  position: absolute;
  top: 0; left: 0;
  margin: 0; padding: 30px 20px 0 20px;
  background-color: #a77072;
  width: 550px;
  height: 50px;
  border-radius: 4px 4px 0 0;
  text-align: center;
}

#login_form {
  margin: 0 auto;
  margin-top: 100px;
  width: 330px;
}

#login_form input[type="password"] , #login_form input[type="text"] {
  width: 200px;
  border-radius: 4px;
  float: right;
}

#login_form input:focus {
  -moz-box-shadow: 0 0 2px 2px #66FF99;
  -webkit-box-shadow: 0 0 2px 2px #66FF99;
  box-shadow: 0 0 2px 2px #66FF99;
  border: 1px solid #66FF99;
}

p#login_button {
  padding-top: 30px;
  width: 100px;
  display: block;
  margin: 0 auto;
}

p#login_button input[type="submit"] {
  font-family: 'Cousine', monospace;
  font-weight: 700;
  width: 100px;
  height: 30px;
  color: #cccccc;
  background-color: #525252;
  border: 1px solid #525252;
  border-radius: 4px;
}

#sign_up_link {
  font-size: 14px;
  margin-top: 30px;
  text-align: center;
}

#sign_up_link a {
  text-decoration: none;
  color: #66FF99;
}

/* Profile Page */
#success_msg {
  margin: 0 auto;
  text-align: center;
  background-color: #cfeedb;
  color: #666;
  font-family: 'Cousine', monospace;
  font-weight: 700;
  font-size: 18px;
  width: 960px;
  margin-top: -3px;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}

#content #profile_title {
  width: 400px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 4px 4px 0 0;
  background-color: rgb(135, 135, 135);
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
  font-family: 'Cousine', monospace;
  font-weight: 700;
  color: #444;
}

#content #profile_info {
  font-family: 'Cousine', monospace;
  font-weight: 700;
  color: #cdcdcd;
  border-radius: 0 0 4px 4px;
  background-color: #444;
  width: 400px;
  display: block;
  margin: 0 auto;
  padding: 50px;
}

#content #profile_info p span.post {
  font-weight: 400;
  float: right;
}

/* Cart */
#cart_header {
  margin-top: 50px;
  text-align:center;
  font-family: 'Cousine', monospace;
  font-weight: 700;
  font-size: 22px;
  color: #666;
}

#cart_empty {
  text-align: center;
}

table#cart_items {
  margin: 0 auto;
  width: 90%;
  text-align: left;
  font-family: 'Cousine', monospace;
  font-weight: 400;
  font-size: 14px;
  border-collapse: collapse;
}

table#cart_items th {
  text-align: left;
  color: rgb(80,78,76);
}

table#cart_items tr {
  background-color: rgb(247, 247, 247);
}

table#cart_items img {
  padding: 0; margin: 0;
  width: 120px;
  height: 120px;
}

form#update_qty input, form#update_qty select {
  margin-top: 12px;
  height: 30px;
  border: 0px;
  border-radius: 4px;
}

#cart_buttons {
  padding-top: 20px;
  width: 205px;
  margin: 0 auto;
}

#cart_buttons form {
  display: inline-block;
}

#cart_buttons input {
  width: 100px;
  padding: 6px 0 6px 0;
  border: 0px;
  border-radius: 4px;
}

/* Checkout page */
#checkout_content {
  width: 100%;
  font-family: 'Cousine', monospace;
  font-size: 14px;
  font-weight: 700;
  overflow-y: auto;
}

#checkout_content h1 {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

#checkout_content #customer_wrapper {
  width: 485px;
  float: left;
}

#checkout_content #customer_wrapper #customer_table {
  margin-top: 36px;
  margin-left: 30px;
  width: 100%;
}

#checkout_content #customer_wrapper #customer_table input {
  width: 194px;
}

#checkout_content #customer_wrapper #customer_table select {
  width: 194px;
}

#checkout_content #customer_wrapper input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 100px;
  padding: 6px 0 6px 0;
  border: 0px;
  border-radius: 4px;
}

#checkout_content #items_wrapper {
  background-color: rgb(247, 247, 247);
  float: right;
  width: 475px;
  height: 1000px;
}

#checkout_content #cart_items {
  margin-top: 50px;
  text-align: left;
}

/* Thank you */
h1#thanks {
  margin-top: 50px;
  text-align: center;
  font-family: 'Cousine', monospace;
  font-size: 20px;
}

table.order_details {
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  padding: 15px;
  font-size: 18px;
  font-family: 'Cousine', monospace;
  background-color: #b5b5b5;
  border-radius: 4px;
  border-collapse: collapse;
}

table.order_details tr:first-child, table.order_details tr:nth-child(8) {
  border-bottom: 1px solid #5d5d62;
}

table.order_details tr td:nth-child(even) {
  text-align: right;
}

table.order_details th {
  text-align: center;
  padding: 10px;
}

table.order_details td,  table.order_details tr {
  padding: 5px 10px 5px 10px;
}

#thanks {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}
